html{
    --bg-color:#8FB3C5;
    background-color:var(--bg-color);
}

main{
    display:grid;
    align-items:center;
    justify-content:center;
    grid-template-areas:
        'header' 
        'title-phrase'
        'input'
        'footer';
    grid-template-columns: 100%

}

#title_phrase{
    font-style:italic;
    grid-area: title-phrase;
}

#ticket_info{
    grid-area: input;
}