form{
    display:flex;
    justify-content:center;
    align-items:center;
}

input{
    display:block;
}

#title_phrase{
    font-family: Georgia, serif;
    font-size:xx-large;
}

#title_phrase span{
    display:block;
}

#title_phrase span:nth-child(2){
    padding-left:10%;
}


